*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-family: "Itim", serif;
}
body{
    max-width: 100%;
    background-color: #fff;
}
header{
    width: 100%;
    background-color: #fff;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0 3%;
    color: #2B4862;
}
.menu a{
    margin-left: 20px;
    position: relative;
    font-size: 21px;
    text-decoration: none;
    color: #2B4862;
    font-weight: 580;
}
.menu a::after{
    content:'';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 105%;
    height: 3px;
    background-color: #2B4862;
    opacity: 0;
    transition: .3s;
}
.menu a:hover::after{
    opacity: 1;
    bottom: -5px;
}
.bg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #BBD7BA;
    color: #2B4862;
    font-size: 32px;
}
.box1{
    padding: 3%;
    color: #2B4862;
}
.dis1 {
    color: #2B4862;
    margin-top: 5px;
    font-size: 22px;
}
.img1{
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img1 img{
    width: 500px;
    height: 600px;
}
.box2{
    color: #2B4862;
    padding: 3%;
}
.dis2 {
    color: #2B4862;
    margin-top: 5px;
    font-size: 22px;
}
.box3{
    padding: 3%;
    color: #2B4862;
}
.dis3 {
    margin-top: 5px;
    color: #2B4862;
    font-size: 22px;
}
.img3{
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img3 img{
    width: 500px;
    height: 600px;
}
.box4{
    padding: 3%;
    color: #2B4862;
}
.dis4 {
    margin-top: 5px;
    font-size: 22px;
    color: #2B4862;
}
